#nav{
padding: 1rem;
background-color:rgba(231, 242, 252, 0.856);
}
#nav i {
    font-size: 1.8rem;
}

#nav .task{
font-size: 1.2rem;
font-weight: 600;
margin-left: 0.5rem;
}

#task-list {
    font-size: 1.1rem;
    color: gray;
}

#task-list .name {
font-weight: 500;
color: black;
}

#task-list .description {
    font-size: 0.9rem;   
    margin-bottom: 0.1rem; 
}
   
#task-list .timedisplay {
    font-size: 0.8rem;    
}

#task-list  i{
 margin-left: 1.1rem;
font-size: 1.1em;
}

.pointer{
    cursor: pointer;
}

.status-false{
    color:rgb(51, 20, 228)
}
.status-true{
    color:rgb(53, 223, 19)
}